<div class="main-container">
  <div class="panel panel-default">
      <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
             [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"
             cellpadding="0" cellspacing="0">
            <div class="table-contents">
                <thead>
                  <tr>
                      <th style="width: 8%">
                        <mfDefaultSorter by="id">iD</mfDefaultSorter>
                        <sorting-arrows desiredElement="id" [currentElement]="sortBy" [currentDir]="sortOrder"></sorting-arrows>
                      </th>
                      <th style="width: 18%">
                          <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
                          <sorting-arrows desiredElement="firstName" [currentElement]="sortBy" [currentDir]="sortOrder"></sorting-arrows>
                      </th>
                      <th style="width: 18%">
                          <mfDefaultSorter by="lastName">Last Name</mfDefaultSorter>
                          <sorting-arrows desiredElement="lastName" [currentElement]="sortBy" [currentDir]="sortOrder"></sorting-arrows>
                      </th>
                      <th style="width: 30%">
                          <mfDefaultSorter [by]="sortByDate">Birth date</mfDefaultSorter>
                          <sorting-arrows desiredElement="dateOfBirth" [currentElement]="sortBy" [currentDir]="sortOrder"></sorting-arrows>
                      </th>
                      <th style="width: 13%">
                          <mfDefaultSorter by="company">Company</mfDefaultSorter>
                          <sorting-arrows desiredElement="company" [currentElement]="sortBy" [currentDir]="sortOrder"></sorting-arrows>
                      </th>
                      <th style="width: 13%">
                          <mfDefaultSorter by="note">Note</mfDefaultSorter>
                          <sorting-arrows desiredElement="note" [currentElement]="sortBy" [currentDir]="sortOrder"></sorting-arrows>
                      </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mf.data">
                      <td>{{item.id}}</td>
                      <td>{{item.firstName}}</td>
                      <td>{{item.lastName}}</td>
                      <td>{{item.dateOfBirth}}</td>
                      <td>{{item.company}}</td>
                      <td>{{item.note}}</td>
                  </tr>
                </tbody>
            </div>
          <tfoot>
            <tr class="pagination-area">
                <td colspan="6">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
          </tfoot>
      </table>
  </div>
</div>
